[Unit]
Description=Code Rank

[Service]
Environment=PYTHONIOENCODING=utf-8
WorkingDirectory=/var/www/rank
ExecStart=/usr/bin/python3.6 -m source.main
TimeoutStartSec=infinity
RestartSec=10
Restart=on-failure

