[Unit]
Description=Code Rank

[Service]
# fix python 3 unicode
Environment=PYTHONIOENCODING=utf-8
WorkingDirectory=/var/www/rank
ExecStart=/usr/bin/python3.6 -m source.main
# don't kill crawler due to timeout
TimeoutStartSec=infinity
# wait 10 minutes before restart
RestartSec=600
# auto restart due to unknown exception e.g. network failure
Restart=on-failure